
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Add vertical spacing between wallet adapters in the connect modal */
/* .wallet-adapter-modal-list {
  display: flex !important;
  flex-direction: column !important;
}
.wallet-adapter-modal-list .wallet-adapter-modal-list-item {
  margin-bottom: 12px !important;
}
.wallet-adapter-modal-list .wallet-adapter-modal-list-item:last-child {
  margin-bottom: 0 !important;
} */

body {
  background-color: #111827; /* bg-gray-900 */
  color: #f3f4f6; /* text-white */
}

.wallet-adapter-button {
  @apply !bg-yellow-500 !text-black !font-medium hover:!bg-yellow-600 !rounded-lg !my-1;
}

.wallet-adapter-modal-list {
  @apply !bg-gray-800;
}

.wallet-adapter-modal-list-more {
  @apply !bg-gray-700;
}

/* src/app/globals.css (or your main CSS file) */

/* Basic scrollbar styling for Webkit browsers (Chrome, Safari, Edge) */
.custom-scrollbar::-webkit-scrollbar {
  width: 3px; /* width of the scrollbar */
  height: 8px; /* height for horizontal scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #334155; /* bg-gray-700 equivalent */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #60a5fa; /* A nice blue color for the thumb */
  border-radius: 10px;
  border: 2px solid #334155; /* space around thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #3b82f6; /* Darker blue on hover */
}

/* For Firefox (requires 'scrollbar-width' and 'scrollbar-color') */
.custom-scrollbar {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: #60a5fa #334155; /* thumb color track color */
}